spring:
  application:
    name: user-service
  cloud:
    config:
      enabled: false
eureka:
  client:
    enabled: false
    fetch-registry: false
    register-with-eureka: false
server:
  port: 8092
