services:

  gateway:
    build:
      context: .
      dockerfile: ./gateway/Dockerfile
    container_name: gateway
    ports:
      - "8080:8080"
    networks:
      spring-network:


  auth-service:
    build:
      context: .
      dockerfile: ./services/authservice/Dockerfile
    container_name: authservice
    ports:
      - "8081:8081"
    environment:
      - KAKAO_REST_API_KEY=${KAKAO_REST_API_KEY}
      - KAKAO_REDIRECT_URI=${KAKAO_REDIRECT_URI}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION:-86400000}
    networks:
      spring-network:


  user-service:
    build:
      context: .
      dockerfile: ./services/userservice/Dockerfile
    container_name: userservice
    ports:
      - "8082:8082"
    networks:
      spring-network:


networks:
  spring-network:
    driver: bridge
